<?xml version="1.0"?>
<launch>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>


    <param name="robot_description" textfile="$(find panda_franka)/urdf/panda_robot_gazebo.urdf"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- Always start in paused mode, and only unpause when spawning the model -->
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <rosparam command="load" file="$(find panda_franka)/config/panda_controller.yaml"/>

    <node pkg="gazebo_ros" 
        type="spawn_model"
        name="spawn_urdf" 
        args = "-param robot_description -urdf -model panda_robot_gazebo"
    />

    <node pkg="controller_manager"
        type="spawner"
        name="panda_controller_spawner"
        respawn="false" output="screen"
        args="panda_controller"
    />

    <node pkg="robot_state_publisher" 
        name="robot_state_publisher"  
        type="robot_state_publisher" 
    />
<!-- 
    <param name="rate" value="2500"/> -->
</launch>