<?xml version="1.0"?>

<launch>

    <!-- send urdf to param server -->
    <param name="robot_description" textfile="$(find panda_franka)/urdf/panda_robot.urdf"/>

    <!-- Non-actuated joints -->
    <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="RSP"   
        output="screen"
    />
    
    <!-- Actuated joints -->
    <node pkg="joint_state_publisher_gui" 
        type="joint_state_publisher_gui" 
        name="JSP"
        output="screen"/>
    
    <!-- Rviz -->
    <node pkg="rviz"
        type="rviz" 
        name="RViZ" 
        args="-d $(find panda_franka)/rviz/panda.rviz"/>
        
</launch>